n8n/workflow_kp.json
{
  "name": "КП — Генератор (SES + UZE)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kp",
        "responseMode": "immediatelyReturn",
        "options": {}
      },
      "id": "k01",
      "name": "Webhook KP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-type",
              "leftValue": "={{ $json.type }}",
              "rightValue": "uze",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "k02",
      "name": "IF: SES чи UZE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const _wh = $('Webhook KP').first().json;\nconst p = _wh.body ?? _wh;\n\nconst TEMPLATE_NO_CREDIT_ID          = p.ses_template_no_credit          || '1Ytn9wssFM-Eg_Fy_CXoZ2CKfd-4uamP39tkhrhf5JMs';\nconst TEMPLATE_NO_CREDIT_NO_IMG_ID   = p.ses_template_no_credit_no_img   || '1LGbc5siAxP6zg4B87KpInSzHGDK0hYy8bbNDvrPNcp0';\nconst TEMPLATE_WITH_CREDIT_ID        = p.ses_template_with_credit        || '15cW_pHFAmXfHgZ6w2Tv_NZYRDTQnE0eV4l6nnbdsfc4';\nconst TEMPLATE_WITH_CREDIT_NO_IMG_ID = p.ses_template_with_credit_no_img || '1bbW_s6qWlfrjKlmuhheiFCDRusPvbRZi7wz3E0B1DkA';\nconst DRIVE_PARENT_FOLDER_ID         = p.ses_drive_folder                || '1QSNGUZ9e7CAyeZNMJ3EpEUuyXTaSfTky';\n\nconst rateUSD = parseFloat(p.rate_usd) || 41.2;\nconst rateEUR = parseFloat(p.rate_eur) || 44.5;\n\nconst creditEnabled  = p.credit === 'yes';\nconst creditPageNum  = parseInt(p.ses_credit_page_num) || 2;\nconst vizPageNum     = parseInt(p.ses_viz_page_num)    || 3;\nconst hasCustomImage = !!(p.custom_image_base64);\nconst hasClientLogo  = !!(p.client_logo_base64);\n\n// client_sector приходить як числовий рядок 1..6 з форми\nconst SECTOR_TEMPLATE_MAP = {\n  '1': p.ses_tpl_sector1 || '',\n  '2': p.ses_tpl_sector2 || '',\n  '3': p.ses_tpl_sector3 || '',\n  '4': p.ses_tpl_sector4 || '',\n  '5': p.ses_tpl_sector5 || '',\n  '6': p.ses_tpl_sector6 || '',\n};\nconst SECTOR_LABELS = {\n  '1': 'Виробничі підприємства',\n  '2': 'Агропромисловий сектор',\n  '3': 'Будівельна та індустріальна група',\n  '4': 'Метал / машинобудування / обладнання',\n  '5': 'Логістика / склади / торгові центри',\n  '6': \"Великі промислові об'єкти 1+ МВт\",\n};\nconst sectorTpl = SECTOR_TEMPLATE_MAP[String(p.client_sector || '')];\n\nlet templateDocId;\nlet delete_credit_page = false;\nlet delete_viz_page = false;\n\nif (sectorTpl) {\n  // Галузевий шаблон: n8n видаляє непотрібні сторінки\n  templateDocId = sectorTpl;\n  delete_credit_page = !creditEnabled;\n  delete_viz_page    = !hasCustomImage;\n} else {\n  // Запасний шаблон: один із 4 варіантів\n  if (creditEnabled) {\n    templateDocId = hasCustomImage ? TEMPLATE_WITH_CREDIT_ID : TEMPLATE_WITH_CREDIT_NO_IMG_ID;\n  } else {\n    templateDocId = hasCustomImage ? TEMPLATE_NO_CREDIT_ID : TEMPLATE_NO_CREDIT_NO_IMG_ID;\n  }\n}\n\nconst managerName  = p.manager || '';\nconst managerPhone = p.manager_phone || '';\nconst managerEmail = p.manager_email || '';\n\nconst dcKW     = parseFloat(p.real_dc)     || 0;\nconst acKW     = parseFloat(p.real_ac)     || 0;\nconst panelQty = parseInt(p.panel_qty)     || 0;\nconst panelWatt= parseFloat(p.module_watt) || 0;\nconst panelModel = (p.module_type || '').replace(/^Фотоелектричні модулі\\s*/i, '');\n\nfunction invLine(model, qty) { return model && qty ? `${model} — ${qty} шт.` : ''; }\nconst inv1 = invLine(p.inverter_1_model, p.inverter_1_qty);\nconst inv2 = invLine(p.inverter_2_model, p.inverter_2_qty);\nconst inv3 = invLine(p.inverter_3_model, p.inverter_3_qty);\nconst invertersText = [inv1, inv2, inv3].filter(Boolean).join('\\n');\n\nconst mountEntries = Array.isArray(p.mount_types) ? p.mount_types : [];\nconst mountText = mountEntries.map(e => `${e.type} (${e.qty} шт.)`).join(', ');\n\nconst currency   = p.currency    || 'USD';\nconst currSign   = currency === 'EUR' ? '€' : '$';\nconst rate       = currency === 'EUR' ? rateEUR : rateUSD;\nconst vatMode    = p.price_vat;\nconst vatLabel   = vatMode === 'with' ? 'з ПДВ' : 'без ПДВ';\nconst pricePerKW = parseFloat(p.price_per_kw) || 0;\nconst totalCurr  = +(dcKW * pricePerKW).toFixed(2);\nconst totalUAH   = Math.round(totalCurr * rate);\n\nconst tariffNow    = parseFloat(p.tariff_now)    || 0;\nconst creditRate   = parseFloat(p.credit_rate)   || 0;\nconst creditMonths = parseInt(p.credit_months)   || 60;\nconst yearlyKWhEst = Math.round(dcKW * 1100 * 0.80);\nconst yearlySavings = tariffNow > 0 ? yearlyKWhEst * tariffNow : 0;\nconst monthlySavingsUAH = tariffNow > 0 ? Math.round(yearlySavings / 12) : 0;\n\nlet monthlyPaymentUAH = 0;\nlet paybackStr = '—';\nif (yearlySavings > 0 && totalUAH > 0) {\n  if (creditEnabled && creditRate > 0) {\n    const r = (creditRate / 100) / 12;\n    monthlyPaymentUAH = Math.round(\n      totalUAH * (r * Math.pow(1 + r, creditMonths)) / (Math.pow(1 + r, creditMonths) - 1)\n    );\n    const totalPaid = monthlyPaymentUAH * creditMonths;\n    const py = totalPaid / yearlySavings;\n    const pyInt = Math.floor(py);\n    const pyMon = Math.round((py - pyInt) * 12);\n    paybackStr = pyMon > 0 ? `${pyInt} р. ${pyMon} міс.` : `${pyInt} р.`;\n  } else {\n    const py = totalUAH / yearlySavings;\n    const pyInt = Math.floor(py);\n    const pyMon = Math.round((py - pyInt) * 12);\n    paybackStr = pyMon > 0 ? `${pyInt} р. ${pyMon} міс.` : `${pyInt} р.`;\n  }\n}\n\nconst today = new Date().toLocaleDateString('uk-UA', { day: '2-digit', month: '2-digit', year: 'numeric' });\nconst safeName    = (p.project_name || 'Проект').replace(/\\s+/g, '_');\nconst todayFile   = today.replace(/\\./g, '-');\nconst fileName    = `КП_СЕС_${safeName}_${todayFile}.pdf`;\nconst docCopyName = `КП_СЕС_${p.project_name || 'Проект'}_${Date.now()}`;\nconst powerLabel  = `${dcKW.toFixed(0)} кВт`;\n\nconst templateVars = {\n  '{{manager_name}}':      managerName,\n  '{{manager_phone}}':     managerPhone,\n  '{{manager_email}}':     managerEmail,\n  '{{today_date}}':        today,\n  '{{project_name}}':      p.project_name  || '',\n  '{{region}}':            p.region        || '',\n  '{{client_sector}}':     SECTOR_LABELS[String(p.client_sector || '')] || p.client_sector || '',\n  '{{ses_type}}':          p.ses_type      || 'Дахова',\n  '{{panel_model}}':       panelModel,\n  '{{panel_qty}}':         String(panelQty),\n  '{{panel_watt}}':        String(Math.round(panelWatt)),\n  '{{dc_kw}}':             dcKW.toFixed(1),\n  '{{ac_kw}}':             acKW.toFixed(0),\n  '{{inverter_1}}':        inv1,\n  '{{inverter_2}}':        inv2,\n  '{{inverter_3}}':        inv3,\n  '{{inverters_text}}':    invertersText,\n  '{{mount_types}}':       mountText,\n  '{{material_type}}':     p.material_type     || '',\n  '{{power_regulation}}':  p.power_regulation  || '',\n  '{{monitoring_device}}': p.monitoring_device || '',\n  '{{currency}}':          currSign,\n  '{{vat_label}}':         vatLabel,\n  '{{price_per_kw}}':      String(pricePerKW),\n  '{{total_price}}':       Math.round(totalCurr).toLocaleString('uk-UA'),\n  '{{total_uah}}':         totalUAH.toLocaleString('uk-UA'),\n  '{{tariff_now}}':        tariffNow ? `${tariffNow.toFixed(2)} грн/кВт·год` : '—',\n  '{{yearly_gen}}':        '',\n  '{{payback}}':           paybackStr,\n  '{{total_profit}}':      yearlySavings > 0 ? `${Math.round(yearlySavings / 1000)} тис. грн/рік` : '—',\n  '{{credit_enabled}}':    creditEnabled ? 'Так' : 'Ні',\n  '{{credit_months}}':     creditEnabled ? String(creditMonths) : '',\n  '{{credit_rate}}':       creditEnabled ? `${creditRate}%` : '',\n  '{{monthly_payment}}':   creditEnabled && monthlyPaymentUAH ? `${monthlyPaymentUAH.toLocaleString('uk-UA')} грн/міс.` : '',\n  '{{year_chart_url}}':    '',\n  '{{day_chart_url}}':     '',\n  '{{custom_image}}':      '',\n  '{{client_logo}}':       '',\n  // Аліаси для сумісності зі старими шаблонами\n  '{{project}}':           p.project_name  || '',\n  '{{project_title}}':     'Проєкт: \"' + (p.project_name || '') + '\" ' + powerLabel,\n  '{{power}}':             dcKW.toFixed(1).replace('.', ',') + ' кВт',\n  '{{power1}}':            dcKW.toFixed(1).replace('.', ',') + ' кВт',\n  '{{total_cost}}':        Math.round(totalCurr).toLocaleString('uk-UA') + ' ' + currSign,\n  '{{total_costG}}':       totalUAH.toLocaleString('uk-UA') + ' грн',\n  '{{placement_type}}':    p.ses_type || '',\n  '{{project_address}}':   '',\n  '{{gps_coords}}':        '',\n  '{{cost_build}}':        '',\n  '{{tariff_fixed}}':      '',\n  '{{credit_b17}}':        creditEnabled && monthlyPaymentUAH ? monthlyPaymentUAH.toLocaleString('uk-UA') : '',\n  '{{credit_b18}}': '', '{{credit_b19}}': '', '{{credit_b20}}': '', '{{credit_b21}}': '',\n  '{{credit_b22}}': '', '{{credit_b23}}': '', '{{credit_b24}}': '', '{{credit_b25}}': '',\n  '{{credit_b26}}': '', '{{credit_b27}}': '', '{{credit_b28}}': '',\n  '{{credit_currency}}':   currSign,\n  '{{credit_final}}':      creditEnabled && monthlyPaymentUAH ? monthlyPaymentUAH.toLocaleString('uk-UA') + ' грн/міс.' : '',\n  '{{link_site_1}}':       '',\n  '{{link_site_2}}':       '',\n  '{{link_youtube}}':      '',\n  '{{link_email}}':        '',\n};\n\n// Рядки обладнання (r1..r9 — позиції, r10 — монтажні роботи)\nconst equipRows = [];\nif (panelModel && panelQty > 0) {\n  equipRows.push({ name: panelModel + ' ' + Math.round(panelWatt) + 'Вт', unit: 'шт', qty: String(panelQty), price: '', total: '' });\n}\n[[p.inverter_1_model, p.inverter_1_qty], [p.inverter_2_model, p.inverter_2_qty], [p.inverter_3_model, p.inverter_3_qty]].forEach(([model, qty]) => {\n  if (model && qty > 0) equipRows.push({ name: model, unit: 'шт', qty: String(qty), price: '', total: '' });\n});\nif (p.material_type) equipRows.push({ name: 'Кабельна продукція (' + p.material_type + ')', unit: 'компл', qty: '1', price: '', total: '' });\nif (mountEntries.length > 0) equipRows.push({ name: 'Монтажна конструкція: ' + mountEntries.map(e => e.type + ' ' + e.qty + ' шт.').join(', '), unit: 'компл', qty: '1', price: '', total: '' });\nif (p.power_regulation) equipRows.push({ name: p.power_regulation, unit: 'шт', qty: '1', price: '', total: '' });\nif (p.monitoring_device) equipRows.push({ name: p.monitoring_device, unit: 'шт', qty: '1', price: '', total: '' });\nfor (let i = 0; i < 9; i++) {\n  const r = equipRows[i] || {};\n  templateVars['{{r' + (i+1) + '_num}}']   = r.name ? '1.' + (i+1) : '';\n  templateVars['{{r' + (i+1) + '_name}}']  = r.name  || '';\n  templateVars['{{r' + (i+1) + '_unit}}']  = r.unit  || '';\n  templateVars['{{r' + (i+1) + '_qty}}']   = r.qty   || '';\n  templateVars['{{r' + (i+1) + '_price}}'] = r.price || '';\n  templateVars['{{r' + (i+1) + '_total}}'] = r.total || '';\n}\ntemplateVars['{{r10_num}}']   = '2.1';\ntemplateVars['{{r10_name}}']  = 'Монтажні роботи';\ntemplateVars['{{r10_unit}}']  = 'компл';\ntemplateVars['{{r10_qty}}']   = '1';\ntemplateVars['{{r10_price}}'] = '';\ntemplateVars['{{r10_total}}'] = '';\n\nreturn [{\n  json: {\n    templateDocId,\n    driveFolderId:       DRIVE_PARENT_FOLDER_ID,\n    doc_copy_name:       docCopyName,\n    file_name:           fileName,\n    template_vars:       templateVars,\n    chat_id:             p.chat_id,\n    manager:             managerName,\n    power_label:         powerLabel,\n    project_name:        p.project_name  || '',\n    region:              p.region        || '',\n    currency_sign:       currSign,\n    total_display:       `${Math.round(totalCurr).toLocaleString('uk-UA')} ${currSign}`,\n    dc_kw:               dcKW,\n    tariff_now:          tariffNow,\n    credit_enabled:      creditEnabled,\n    credit_months:       creditMonths,\n    monthly_payment_uah: monthlyPaymentUAH,\n    monthly_savings_uah: monthlySavingsUAH,\n    total_usd:           totalCurr,\n    rate_usd:            rate,\n    has_custom_image:    hasCustomImage,\n    has_client_logo:     hasClientLogo,\n    custom_image_base64: p.custom_image_base64 || null,\n    custom_image_mime:   p.custom_image_mime   || null,\n    client_logo_base64:  p.client_logo_base64  || null,\n    client_logo_mime:    p.client_logo_mime    || null,\n    delete_credit_page:  delete_credit_page,\n    delete_viz_page:     delete_viz_page,\n    credit_page_num:     creditPageNum,\n    viz_page_num:        vizPageNum,\n  }\n}];"
      },
      "id": "s04",
      "name": "SES: Calculate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const MONTHLY_COEF = {\n  'Чернігівська область':     [22, 33, 65, 98, 118, 120, 122, 113, 85, 50, 24, 17],\n  'Сумська область':          [23, 34, 66, 99, 119, 121, 123, 114, 86, 51, 25, 18],\n  'Житомирська область':      [24, 35, 67, 100, 120, 122, 124, 115, 87, 52, 25, 18],\n  'Волинська область':        [24, 36, 67, 100, 119, 120, 122, 112, 85, 51, 25, 17],\n  'Рівненська область':       [24, 36, 68, 101, 120, 121, 123, 113, 86, 52, 25, 18],\n  'Львівська область':        [26, 38, 72, 106, 123, 124, 127, 118, 90, 56, 27, 19],\n  'Закарпатська область':     [30, 44, 80, 113, 130, 131, 135, 126, 98, 62, 31, 22],\n  'Івано-Франківська область':[27, 40, 74, 107, 124, 125, 128, 119, 91, 57, 28, 20],\n  'Тернопільська область':    [26, 38, 71, 105, 122, 123, 126, 117, 89, 55, 26, 18],\n  'Хмельницька область':      [26, 38, 71, 105, 122, 123, 126, 117, 89, 55, 26, 18],\n  'Вінницька область':        [27, 40, 74, 108, 126, 127, 130, 120, 92, 57, 27, 19],\n  'Чернівецька область':      [28, 42, 78, 112, 129, 130, 134, 125, 96, 60, 29, 21],\n  'м. Київ':                  [25, 37, 71, 105, 124, 126, 128, 118, 89, 53, 25, 18],\n  'Київська область':         [25, 37, 70, 104, 123, 125, 127, 117, 88, 52, 25, 17],\n  'Черкаська область':        [28, 42, 78, 112, 131, 133, 135, 125, 95, 58, 27, 19],\n  'Полтавська область':       [29, 43, 79, 114, 133, 135, 137, 127, 97, 60, 28, 20],\n  'Кіровоградська область':   [31, 47, 85, 119, 138, 140, 143, 133, 103, 64, 30, 22],\n  'Харківська область':       [28, 43, 80, 114, 133, 135, 138, 128, 97, 59, 27, 19],\n  'Дніпропетровська область': [32, 49, 87, 122, 141, 143, 146, 136, 105, 66, 31, 22],\n  'Донецька область':         [30, 46, 84, 118, 137, 139, 142, 132, 101, 63, 30, 21],\n  'Запорізька область':       [35, 53, 95, 131, 150, 152, 156, 145, 113, 72, 34, 25],\n  'Луганська область':        [29, 44, 81, 115, 134, 136, 139, 129, 98, 60, 28, 20],\n  'Одеська область':          [38, 57, 100, 137, 156, 158, 163, 151, 118, 76, 37, 27],\n  'Миколаївська область':     [36, 55, 98, 134, 153, 155, 160, 148, 115, 73, 35, 26],\n  'Херсонська область':       [37, 56, 100, 136, 155, 157, 162, 150, 117, 75, 36, 26],\n  'default':                  [28, 42, 77, 111, 130, 132, 134, 124, 95, 59, 28, 19]\n};\n\nconst MONTHS_UK = ['Січ', 'Лют', 'Бер', 'Квіт', 'Трав', 'Черв', 'Лип', 'Серп', 'Вер', 'Жовт', 'Лис', 'Груд'];\n\nconst DAILY_HOURLY_PROFILE = [\n  0, 0, 0, 0, 0, 0.03,\n  0.08, 0.18, 0.38, 0.58, 0.75, 0.88,\n  0.97, 1.00, 0.97, 0.88, 0.75, 0.58,\n  0.35, 0.15, 0.05, 0.01, 0, 0\n];\n\nconst calc = $('SES: Calculate').first().json;\nconst dcKW      = parseFloat(calc.dc_kw)  || 0;\nconst region    = calc.region || 'default';\nconst tariffNow = parseFloat(calc.tariff_now) || 0;\n\nconst coefs = MONTHLY_COEF[region] || MONTHLY_COEF['default'];\nconst monthlyKWh = coefs.map(c => Math.round(c * dcKW));\nconst yearlyKWh  = monthlyKWh.reduce((s, v) => s + v, 0);\nconst yearlyMWh  = Math.round(yearlyKWh / 100) / 10;\nconst peakIdx    = monthlyKWh.indexOf(Math.max(...monthlyKWh));\nconst peakKWh    = monthlyKWh[peakIdx];\n\nconst daysInPeakMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][peakIdx];\nconst dailyAvgKWh     = peakKWh / daysInPeakMonth;\nconst dailyHourlyKWh  = DAILY_HOURLY_PROFILE.map(factor => +(factor * dailyAvgKWh).toFixed(1));\nconst hourLabels = Array.from({ length: 24 }, (_, i) => `${i}:00`);\n\nconst yearChartConfig = {\n  type: 'bar',\n  data: {\n    labels: MONTHS_UK,\n    datasets: [{\n      label: 'Генерація, кВт·год',\n      data: monthlyKWh,\n      backgroundColor: monthlyKWh.map((_, i) => i === peakIdx ? '#FFC400' : '#4A90D9'),\n      borderRadius: 6\n    }]\n  },\n  options: {\n    plugins: {\n      legend: { display: false },\n      title: { display: true, text: `Річна генерація СЕС ${dcKW.toFixed(0)} кВт · ${region}`, font: { size: 14 } },\n      datalabels: { anchor: 'end', align: 'top', font: { size: 10 }, formatter: (v) => v >= 1000 ? `${(v/1000).toFixed(1)}МВт` : `${v}` }\n    },\n    scales: {\n      y: { beginAtZero: true, title: { display: true, text: 'кВт·год' }, grid: { color: '#f0f0f0' } },\n      x: { grid: { display: false } }\n    }\n  }\n};\n\nconst dayChartConfig = {\n  type: 'line',\n  data: {\n    labels: hourLabels,\n    datasets: [{\n      label: `Генерація (${MONTHS_UK[peakIdx]}, кВт·год/год)`,\n      data: dailyHourlyKWh,\n      borderColor: '#FFC400',\n      backgroundColor: 'rgba(255,196,0,0.15)',\n      borderWidth: 2.5,\n      pointRadius: 3,\n      fill: true,\n      tension: 0.4\n    }]\n  },\n  options: {\n    plugins: {\n      legend: { display: false },\n      title: { display: true, text: `Денна генерація (${MONTHS_UK[peakIdx]}, середній день) · СЕС ${dcKW.toFixed(0)} кВт`, font: { size: 14 } }\n    },\n    scales: {\n      y: { beginAtZero: true, title: { display: true, text: 'кВт·год/год' }, grid: { color: '#f0f0f0' } },\n      x: { grid: { display: false }, ticks: { maxTicksLimit: 12 } }\n    }\n  }\n};\n\nfunction toChartUrl(config, width, height) {\n  return `https://quickchart.io/chart?w=${width}&h=${height}&bkg=white&c=${encodeURIComponent(JSON.stringify(config))}`;\n}\n\nconst yearChartUrl = toChartUrl(yearChartConfig, 800, 380);\nconst dayChartUrl  = toChartUrl(dayChartConfig,  800, 380);\n\nconst selfConsumptionRatio = 0.80;\nconst yearlyEconomyUAH = tariffNow > 0\n  ? Math.round(yearlyKWh * selfConsumptionRatio * tariffNow)\n  : Math.round(calc.monthly_savings_uah * 12) || 0;\n\nconst totalUAH2 = (parseFloat(calc.total_usd) || 0) * (parseFloat(calc.rate_usd) || 41.2);\nlet paybackStr = '—';\nif (yearlyEconomyUAH > 0 && totalUAH2 > 0) {\n  const py    = totalUAH2 / yearlyEconomyUAH;\n  const pyInt = Math.floor(py);\n  const pyMon = Math.round((py - pyInt) * 12);\n  paybackStr  = pyMon > 0 ? `${pyInt} р. ${pyMon} міс.` : `${pyInt} р.`;\n}\n\nreturn [{\n  json: {\n    ...calc,\n    year_chart_url: yearChartUrl,\n    day_chart_url:  dayChartUrl,\n    monthly_kwh:    monthlyKWh,\n    yearly_kwh:     yearlyKWh,\n    yearly_mwh:     yearlyMWh,\n    peak_month:     MONTHS_UK[peakIdx],\n    yearly_economy: yearlyEconomyUAH,\n    payback_str_regional: paybackStr,\n    template_vars: {\n      ...calc.template_vars,\n      '{{yearly_gen}}':   `${yearlyMWh} МВт·год`,\n      '{{payback}}':      paybackStr,\n      '{{tariff_now}}':   tariffNow ? `${tariffNow.toFixed(2)} грн/кВт·год` : (calc.template_vars?.['{{tariff_now}}'] || ''),\n      '{{total_profit}}': `${Math.round(yearlyEconomyUAH / 1000)} тис. грн/рік`,\n      '{{year_chart_url}}': yearChartUrl,\n      '{{day_chart_url}}':  dayChartUrl\n    }\n  }\n}];"
      },
      "id": "s05",
      "name": "SES: Charts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-img",
              "leftValue": "={{ $json.has_custom_image || $json.has_client_logo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "s06",
      "name": "SES: IF Зображення",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('SES: Charts').first().json;\n\nconst result = { json: { ...data }, binary: {} };\n\nif (data.custom_image_base64) {\n  const mime = data.custom_image_mime || 'image/jpeg';\n  const ext  = mime.split('/')[1] || 'jpg';\n  const fileName = `viz_${data.project_name || 'ses'}_${Date.now()}.${ext}`;\n  result.json.image_file_name = fileName;\n  result.json.image_mime      = mime;\n  result.binary.customImage   = { data: data.custom_image_base64, mimeType: mime, fileName };\n}\n\nif (data.client_logo_base64) {\n  const mime = data.client_logo_mime || 'image/png';\n  const ext  = mime.split('/')[1] || 'png';\n  const logoName = `logo_${data.project_name || 'ses'}_${Date.now()}.${ext}`;\n  result.json.logo_file_name = logoName;\n  result.json.logo_mime      = mime;\n  result.binary.clientLogo   = { data: data.client_logo_base64, mimeType: mime, fileName: logoName };\n}\n\nreturn [result];"
      },
      "id": "s07",
      "name": "SES: Підготовка зображень",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-custom-img",
              "leftValue": "={{ $('SES: Charts').first().json.has_custom_image }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "s07b",
      "name": "SES: IF Custom Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        200
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.image_file_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('SES: Calculate').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryPropertyName": "customImage",
        "options": {}
      },
      "id": "s08",
      "name": "SES: Upload Custom Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"role\":\"reader\",\"type\":\"anyone\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "s09",
      "name": "SES: Відкрити доступ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-logo",
              "leftValue": "={{ $('SES: Charts').first().json.has_client_logo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "s09b_if",
      "name": "SES: IF Logo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2160,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const prep = $('SES: Підготовка зображень').first();\nconst logoData = prep.binary?.clientLogo;\nreturn [{ json: $input.first().json, binary: logoData ? { clientLogo: logoData } : {} }];"
      },
      "id": "s09b_code",
      "name": "SES: Logo Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $('SES: Charts').first().json.logo_file_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('SES: Calculate').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryPropertyName": "clientLogo",
        "options": {}
      },
      "id": "s08b",
      "name": "SES: Upload Client Logo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2640,
        -80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"role\":\"reader\",\"type\":\"anyone\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "s09b_http",
      "name": "SES: Logo Access",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        -80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const calc = $('SES: Charts').first().json;\n\nlet customImageDriveUrl = null;\nlet clientLogoDriveUrl  = null;\n\ntry {\n  const imageItems = $('SES: Upload Custom Image').all();\n  if (imageItems.length > 0) {\n    const id = imageItems[0].json.id;\n    customImageDriveUrl = `https://drive.google.com/uc?export=view&id=${id}`;\n  }\n} catch (e) {}\n\ntry {\n  const logoItems = $('SES: Upload Client Logo').all();\n  if (logoItems.length > 0) {\n    const id = logoItems[0].json.id;\n    clientLogoDriveUrl = `https://drive.google.com/uc?export=view&id=${id}`;\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    ...calc,\n    custom_image_drive_url: customImageDriveUrl,\n    client_logo_drive_url:  clientLogoDriveUrl,\n    template_vars: {\n      ...calc.template_vars,\n      '{{custom_image}}': customImageDriveUrl || '',\n      '{{client_logo}}':  clientLogoDriveUrl  || ''\n    }\n  }\n}];"
      },
      "id": "s10",
      "name": "SES: Після зображення",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        200
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.templateDocId }}",
          "mode": "id"
        },
        "name": "={{ $json.doc_copy_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.driveFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "s11",
      "name": "SES: Копіювати шаблон",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2400,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('SES: Копіювати шаблон').first().json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "s11a",
      "name": "SES: Отримати Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        200
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const tab0Content = $json.tabs?.[0]?.documentTab?.body?.content || [];\nconst bodyContent = $json.body?.content || [];\nconst content = tab0Content.length > 0 ? tab0Content : bodyContent;\n\nconst calc  = $('SES: Після зображення').first().json;\nconst docId = $('SES: Копіювати шаблон').first().json.id;\n\nconst rangesToDelete = [];\n\n// Видалити «Вкладка 1»\nlet startIndex = null;\nlet endIndex   = null;\nfor (let i = 0; i < content.length; i++) {\n  const el = content[i];\n  if (!el.paragraph || !el.paragraph.elements) continue;\n  const text = el.paragraph.elements\n    .map(e => (e.textRun?.content || '').trim().toLowerCase())\n    .join('');\n  if (text === 'вкладка 1') {\n    startIndex = el.startIndex;\n  } else if (startIndex !== null && text !== '') {\n    endIndex = el.startIndex;\n    break;\n  }\n}\nif (startIndex !== null && endIndex !== null) {\n  rangesToDelete.push({ startIndex, endIndex: endIndex - 1 });\n}\n\nconst deleteRequests = rangesToDelete.map(r => ({\n  deleteContentRange: { range: { startIndex: r.startIndex, endIndex: r.endIndex } }\n}));\n\nreturn [{ json: { docId, deleteRequests, ...calc } }];"
      },
      "id": "s11b",
      "name": "SES: Видалити Вкладку 1 Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.deleteRequests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "s11c",
      "name": "SES: Видалити Вкладку 1 HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        200
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const calc  = $('SES: Після зображення').first().json;\nconst docId = $('SES: Копіювати шаблон').first().json.id;\nconst vars  = calc.template_vars;\n\n// Зображення вставляємо через insertInlineImage, не replaceAllText\nconst IMAGE_VARS = new Set([\n  '{{year_chart_url}}',\n  '{{day_chart_url}}',\n  '{{custom_image}}',\n  '{{client_logo}}'\n]);\n\n// Розміри в пунктах (1pt ≈ 1.333px)\nconst IMAGE_SIZES = {\n  '{{year_chart_url}}': { width: 500, height: 237 },\n  '{{day_chart_url}}':  { width: 500, height: 237 },\n  '{{custom_image}}':   { width: 450, height: 300 },\n  '{{client_logo}}':    { width: 150, height: 80  }\n};\n\nconst image_urls = {};\nconst requests   = [];\n\nfor (const [tag, value] of Object.entries(vars)) {\n  if (IMAGE_VARS.has(tag)) {\n    if (value) image_urls[tag] = value;\n  } else {\n    requests.push({\n      replaceAllText: {\n        containsText: { text: tag, matchCase: true },\n        replaceText:  String(value ?? '')\n      }\n    });\n  }\n}\n\nreturn [{\n  json: {\n    docId,\n    requests,\n    image_urls,\n    image_sizes: IMAGE_SIZES,\n    chat_id:       calc.chat_id,\n    file_name:     calc.file_name,\n    project_name:  calc.project_name,\n    power_label:   calc.power_label,\n    total_display: calc.total_display,\n    currency_sign: calc.currency_sign,\n    driveFolderId: calc.driveFolderId\n  }\n}];"
      },
      "id": "s12",
      "name": "SES: Підготовка Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {}
      },
      "id": "s13",
      "name": "SES: Docs batchUpdate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        200
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('SES: Підготовка Docs').first().json.docId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "s13a",
      "name": "SES: Отримати Doc після замін",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        200
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const docData = $json;\nconst calc    = $('SES: Підготовка Docs').first().json;\nconst docId   = calc.docId;\n\nconst content = docData.tabs?.[0]?.documentTab?.body?.content || docData.body?.content || [];\n\nconst requests = [];\n\nfor (const el of content) {\n  if (!el.table) continue;\n\n  const isCostTable = el.table.tableRows.some(row => {\n    const firstCell = (row.tableCells[0]?.content || [])\n      .flatMap(p => (p.paragraph?.elements || []))\n      .map(e => e.textRun?.content || '')\n      .join('')\n      .trim();\n    return firstCell.includes('ОБЛАДНАННЯ');\n  });\n  if (!isCostTable) continue;\n\n  const tableStartIndex = el.startIndex;\n  const emptyRowIndices = [];\n\n  el.table.tableRows.forEach((row, rowIndex) => {\n    const allEmpty = row.tableCells.every(cell => {\n      const cellText = (cell.content || [])\n        .flatMap(p => (p.paragraph?.elements || []))\n        .map(e => e.textRun?.content || '')\n        .join('')\n        .trim();\n      return cellText === '';\n    });\n    if (allEmpty) emptyRowIndices.push(rowIndex);\n  });\n\n  for (let i = emptyRowIndices.length - 1; i >= 0; i--) {\n    requests.push({\n      deleteTableRow: {\n        tableCellLocation: {\n          tableStartLocation: { index: tableStartIndex },\n          rowIndex: emptyRowIndices[i],\n          columnIndex: 0\n        }\n      }\n    });\n  }\n}\n\nreturn [{ json: { docId, ...calc, requests } }];"
      },
      "id": "s13b",
      "name": "SES: Знайти порожні рядки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "s13c",
      "name": "SES: Видалити порожні рядки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        200
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('SES: Підготовка Docs').first().json.docId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "s13d",
      "name": "SES: Отримати Doc для зображень",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        200
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const docData    = $json;\nconst prep       = $('SES: Підготовка Docs').first().json;\nconst docId      = prep.docId;\nconst imageUrls  = prep.image_urls  || {};\nconst imageSizes = prep.image_sizes || {};\n\nconst tab0Content = docData.tabs?.[0]?.documentTab?.body?.content || [];\nconst bodyContent = docData.body?.content || [];\nconst content     = tab0Content.length > 0 ? tab0Content : bodyContent;\n\nfunction findInContent(elems, placeholder) {\n  const results = [];\n  for (const el of elems) {\n    if (el.paragraph) {\n      for (const e of (el.paragraph.elements || [])) {\n        if (!e.textRun) continue;\n        const text = e.textRun.content || '';\n        let idx = text.indexOf(placeholder);\n        while (idx >= 0) {\n          results.push({\n            startIndex: e.startIndex + idx,\n            endIndex:   e.startIndex + idx + placeholder.length\n          });\n          idx = text.indexOf(placeholder, idx + 1);\n        }\n      }\n    } else if (el.table) {\n      for (const row of (el.table.tableRows || [])) {\n        for (const cell of (row.tableCells || [])) {\n          results.push(...findInContent(cell.content || [], placeholder));\n        }\n      }\n    }\n  }\n  return results;\n}\n\nconst imagePositions = [];\nfor (const [placeholder, url] of Object.entries(imageUrls)) {\n  if (!url) continue;\n  const found = findInContent(content, placeholder);\n  for (const pos of found) {\n    imagePositions.push({ placeholder, url, ...pos });\n  }\n}\n\n// Зворотній порядок: спочатку пізніші позиції, щоб делети не зсунули ранніші\nimagePositions.sort((a, b) => b.startIndex - a.startIndex);\n\nconst requests = [];\nfor (const { placeholder, url, startIndex, endIndex } of imagePositions) {\n  const size = imageSizes[placeholder] || { width: 400, height: 250 };\n  requests.push({\n    deleteContentRange: { range: { startIndex, endIndex } }\n  });\n  requests.push({\n    insertInlineImage: {\n      uri: url,\n      objectSize: {\n        width:  { magnitude: size.width,  unit: 'PT' },\n        height: { magnitude: size.height, unit: 'PT' }\n      },\n      location: { index: startIndex }\n    }\n  });\n}\n\nreturn [{ json: { docId, requests, ...prep } }];"
      },
      "id": "s13e",
      "name": "SES: Підготовка зображень Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "s13f",
      "name": "SES: Вставити зображення",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        200
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.google.com/document/d/' + $('SES: Підготовка Docs').first().json.docId + '/export?format=pdf&tab=t.0' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "s14",
      "name": "SES: Експорт PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        200
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendDocument",
        "chatId": "={{ $('SES: Calculate').first().json.chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "=КП для {{ $('SES: Calculate').first().json.project_name }} ({{ $('SES: Calculate').first().json.power_label }}) — готово! ✅"
        }
      },
      "id": "s16",
      "name": "SES: Надіслати PDF",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6000,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "CRED4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $('SES: Підготовка Docs').first().json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('SES: Підготовка Docs').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "s15",
      "name": "SES: Зберегти PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6000,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const _wh = $('Webhook KP').first().json;\nconst p = _wh.body ?? _wh;\n\nconst DRIVE_FOLDER_ID = p.uze_drive_folder || p.ses_drive_folder || '1QSNGUZ9e7CAyeZNMJ3EpEUuyXTaSfTky';\n\nif (!p.template_id) {\n  throw new Error(`UZE webhook: відсутній template_id. Отримано: ${JSON.stringify(Object.keys(p))}`);\n}\n\nif (!p.template_vars || typeof p.template_vars !== 'object') {\n  throw new Error('UZE webhook: відсутній або некоректний template_vars');\n}\n\nreturn [{\n  json: {\n    templateDocId:  p.template_id,\n    driveFolderId:  DRIVE_FOLDER_ID,\n    doc_copy_name:  p.doc_copy_name || `КП_УЗЕ_${p.project_name || 'Проект'}_${Date.now()}`,\n    file_name:      p.file_name     || `КП_УЗЕ_${(p.project_name || 'Проект').replace(/\\s+/g, '_')}.pdf`,\n    template_vars:  p.template_vars,\n    tail_pages:     parseInt(p.tail_pages) || 5,\n    chat_id:        p.chat_id,\n    project_name:   p.project_name  || '',\n    manager:        p.manager       || '',\n    uze_model:      p.uze_model     || '',\n    uze_qty:        p.uze_qty       || 1,\n    currency_sign:  p.currency === 'EUR' ? '€' : '$'\n  }\n}];"
      },
      "id": "u03",
      "name": "UZE: Підготовка",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        700
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.templateDocId }}",
          "mode": "id"
        },
        "name": "={{ $json.doc_copy_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.driveFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "u04",
      "name": "UZE: Копіювати шаблон",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        700
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "u05",
      "name": "UZE: Отримати Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        700
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const tab0Content = $json.tabs?.[0]?.documentTab?.body?.content || [];\nconst bodyContent = $json.body?.content || [];\nconst content = tab0Content.length > 0 ? tab0Content : bodyContent;\n\nconst prep  = $('UZE: Підготовка').first().json;\nconst docId = $('UZE: Копіювати шаблон').first().json.id;\n\nlet startIndex = null;\nlet endIndex   = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const el = content[i];\n  if (!el.paragraph || !el.paragraph.elements) continue;\n  const text = el.paragraph.elements\n    .map(e => (e.textRun?.content || '').trim().toLowerCase())\n    .join('');\n  if (text === 'вкладка 1') {\n    startIndex = el.startIndex;\n  } else if (startIndex !== null && text !== '') {\n    endIndex = el.startIndex;\n    break;\n  }\n}\n\nconst deleteRequests = (startIndex !== null && endIndex !== null)\n  ? [{ deleteContentRange: { range: { startIndex, endIndex: endIndex - 1 } } }]\n  : [];\n\nreturn [{ json: { docId, deleteRequests, ...prep } }];"
      },
      "id": "u06",
      "name": "UZE: Видалити Вкладку 1 Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.deleteRequests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "u07",
      "name": "UZE: Видалити Вкладку 1 HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        700
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const prep  = $('UZE: Підготовка').first().json;\nconst docId = $('UZE: Копіювати шаблон').first().json.id;\nconst vars  = prep.template_vars;\n\nconst requests = Object.entries(vars).map(([tag, value]) => ({\n  replaceAllText: {\n    containsText: { text: tag, matchCase: true },\n    replaceText:  String(value ?? '')\n  }\n}));\n\nreturn [{\n  json: {\n    docId,\n    requests,\n    chat_id:       prep.chat_id,\n    file_name:     prep.file_name,\n    project_name:  prep.project_name,\n    uze_model:     prep.uze_model,\n    uze_qty:       prep.uze_qty,\n    driveFolderId: prep.driveFolderId,\n    currency_sign: prep.currency_sign\n  }\n}];"
      },
      "id": "u08",
      "name": "UZE: Підготовка Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {}
      },
      "id": "u09",
      "name": "UZE: Docs batchUpdate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        700
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('UZE: Підготовка Docs').first().json.docId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "u10",
      "name": "UZE: Отримати Doc після замін",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        700
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const docData = $json;\nconst prep    = $('UZE: Підготовка Docs').first().json;\nconst docId   = prep.docId;\n\nconst content = docData.tabs?.[0]?.documentTab?.body?.content || docData.body?.content || [];\n\nconst requests = [];\n\nfor (const el of content) {\n  if (!el.table) continue;\n\n  const isCostTable = el.table.tableRows.some(row => {\n    const firstCell = (row.tableCells[0]?.content || [])\n      .flatMap(p => (p.paragraph?.elements || []))\n      .map(e => e.textRun?.content || '')\n      .join('')\n      .trim();\n    return firstCell.match(/обладнання|ОБЛАДНАННЯ|специфікація|СПЕЦИФІКАЦІЯ/i);\n  });\n  if (!isCostTable) continue;\n\n  const tableStartIndex = el.startIndex;\n  const emptyRowIndices = [];\n\n  el.table.tableRows.forEach((row, rowIndex) => {\n    const allEmpty = row.tableCells.every(cell => {\n      const cellText = (cell.content || [])\n        .flatMap(p => (p.paragraph?.elements || []))\n        .map(e => e.textRun?.content || '')\n        .join('')\n        .trim();\n      return cellText === '';\n    });\n    if (allEmpty) emptyRowIndices.push(rowIndex);\n  });\n\n  for (let i = emptyRowIndices.length - 1; i >= 0; i--) {\n    requests.push({\n      deleteTableRow: {\n        tableCellLocation: {\n          tableStartLocation: { index: tableStartIndex },\n          rowIndex: emptyRowIndices[i],\n          columnIndex: 0\n        }\n      }\n    });\n  }\n}\n\nreturn [{ json: { docId, ...prep, requests } }];"
      },
      "id": "u11",
      "name": "UZE: Знайти порожні рядки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "u12",
      "name": "UZE: Видалити порожні рядки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        700
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.google.com/document/d/' + $('UZE: Підготовка Docs').first().json.docId + '/export?format=pdf&tab=t.0' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "u13",
      "name": "UZE: Експорт PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        700
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendDocument",
        "chatId": "={{ $('UZE: Підготовка').first().json.chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "=КП УЗЕ для {{ $('UZE: Підготовка').first().json.project_name }} — готово! ✅\nМодель: {{ $('UZE: Підготовка').first().json.uze_model }} × {{ $('UZE: Підготовка').first().json.uze_qty }} шт."
        }
      },
      "id": "u14",
      "name": "UZE: Надіслати PDF",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3360,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "CRED4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $('UZE: Підготовка Docs').first().json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('UZE: Підготовка Docs').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "u15",
      "name": "UZE: Зберегти PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3360,
        820
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-del-pages",
              "leftValue": "={{ $('SES: Calculate').first().json.delete_credit_page || $('SES: Calculate').first().json.delete_viz_page }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "s17_if",
      "name": "SES: IF Видалити сторінки",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4800,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/file/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "zvit@rayton.com.ua_iWDUNucluKRH7ULe6nRKagQva7EfQUmNgM4KwSPGt4D6KHl2CxeoRxel0eDgL10b"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "s17a",
      "name": "SES: pdfco Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const calc = $('SES: Calculate').first().json;\nconst pages = [];\nif (calc.delete_credit_page) pages.push(calc.credit_page_num || 2);\nif (calc.delete_viz_page)    pages.push(calc.viz_page_num    || 3);\npages.sort((a, b) => a - b);\n\nreturn [{\n  json: {\n    upload_url: $json.url,\n    pages_str:  pages.join(',')\n  }\n}];"
      },
      "id": "s17b",
      "name": "SES: pdfco Сторінки Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/edit/delete-pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "zvit@rayton.com.ua_iWDUNucluKRH7ULe6nRKagQva7EfQUmNgM4KwSPGt4D6KHl2CxeoRxel0eDgL10b"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { url: $json.upload_url, pages: $json.pages_str } }}",
        "options": {}
      },
      "id": "s17c",
      "name": "SES: pdfco Delete HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5520,
        80
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "s17d",
      "name": "SES: pdfco Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        80
      ]
    },
    {
      "id": "cat_c01",
      "name": "Webhook GET Catalog",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6500,
        -600
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "ses-catalog",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "cat_c02",
      "name": "Code: Read Catalog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        -600
      ],
      "parameters": {
        "jsCode": "// Зчитуємо каталог з persistent storage n8n\nconst data = $getWorkflowStaticData('global');\n\n// Дефолтний каталог — використовується при першому запуску\n// ЗАМІНІТЬ ціни на реальні через адмін-панель\nconst DEFAULT_CATALOG = {\n  panels: [\n    { full_name: 'Фотоелектричні модулі Trina 620W',  watt: 620, price_usd: 87.5,  markup: 1.12 },\n    { full_name: 'Фотоелектричні модулі Trina 625W',  watt: 625, price_usd: 89.0,  markup: 1.12 },\n    { full_name: 'Фотоелектричні модулі Trina 710W',  watt: 710, price_usd: 99.0,  markup: 1.12 },\n    { full_name: 'Фотоелектричні модулі Тrina 575W',  watt: 575, price_usd: 80.0,  markup: 1.12 },\n    { full_name: 'Фотоелектричні модулі Тrina 580W',  watt: 580, price_usd: 81.0,  markup: 1.12 },\n    { full_name: 'Фотоелектричні модулі Тrina 610W',  watt: 610, price_usd: 85.0,  markup: 1.12 },\n    { full_name: 'Фотоелектричні модулі JA 625W',     watt: 625, price_usd: 86.0,  markup: 1.12 },\n    { full_name: 'Фотоелектричні модулі Longi 580W',  watt: 580, price_usd: 79.0,  markup: 1.12 },\n    { full_name: 'Фотоелектричні модулі Longi 610W',  watt: 610, price_usd: 83.0,  markup: 1.12 }\n  ],\n  inverters: [\n    { name: 'Huawei SUN2000-150KTL-G0',  power_kw: 150, price_usd: 3850, markup: 1.18 },\n    { name: 'Huawei SUN2000-115KTL-M2',  power_kw: 115, price_usd: 3100, markup: 1.18 },\n    { name: 'Huawei SUN2000-100KTL-M2',  power_kw: 100, price_usd: 2750, markup: 1.18 },\n    { name: 'Huawei SUN2000-50KTL-M3',   power_kw: 50,  price_usd: 1450, markup: 1.18 },\n    { name: 'Huawei SUN2000-30KTL-M3',   power_kw: 30,  price_usd: 950,  markup: 1.18 }\n  ],\n  mounting: [\n    { name: 'блочки',                          price_per_panel_usd: 11.2, markup: 2.0 },\n    { name: 'сітка',                           price_per_panel_usd: 13.5, markup: 2.0 },\n    { name: 'баластна сітка',                  price_per_panel_usd: 15.0, markup: 2.0 },\n    { name: 'баластна сітка з противагою',     price_per_panel_usd: 16.5, markup: 2.0 },\n    { name: 'гвинт-шуруп',                    price_per_panel_usd: 10.5, markup: 2.0 },\n    { name: 'схід-захід',                      price_per_panel_usd: 18.0, markup: 2.0 },\n    { name: 'схід-захід (без баласту) деш.',   price_per_panel_usd: 14.0, markup: 2.0 },\n    { name: 'схід-захід (без баласту) дор.',   price_per_panel_usd: 17.0, markup: 2.0 },\n    { name: 'з підйомом',                      price_per_panel_usd: 20.0, markup: 2.0 },\n    { name: 'з підйомом без баласту',          price_per_panel_usd: 18.5, markup: 2.0 },\n    { name: 'наземка',                         price_per_panel_usd: 22.0, markup: 2.0 },\n    { name: 'наземка схід-захід',              price_per_panel_usd: 25.0, markup: 2.0 }\n  ],\n  materials_dc: [\n    { mount_name: 'блочки',                       price_per_kw_small: 18.5, price_per_kw_large: 16.0, markup: 1.6 },\n    { mount_name: 'сітка',                        price_per_kw_small: 18.5, price_per_kw_large: 16.0, markup: 1.6 },\n    { mount_name: 'баластна сітка',               price_per_kw_small: 18.5, price_per_kw_large: 16.0, markup: 1.6 },\n    { mount_name: 'баластна сітка з противагою',  price_per_kw_small: 18.5, price_per_kw_large: 16.0, markup: 1.6 },\n    { mount_name: 'гвинт-шуруп',                 price_per_kw_small: 18.5, price_per_kw_large: 16.0, markup: 1.6 },\n    { mount_name: 'схід-захід',                   price_per_kw_small: 20.0, price_per_kw_large: 17.5, markup: 1.6 },\n    { mount_name: 'схід-захід (без баласту) деш.',price_per_kw_small: 19.0, price_per_kw_large: 16.5, markup: 1.6 },\n    { mount_name: 'схід-захід (без баласту) дор.',price_per_kw_small: 19.0, price_per_kw_large: 16.5, markup: 1.6 },\n    { mount_name: 'з підйомом',                   price_per_kw_small: 21.0, price_per_kw_large: 18.0, markup: 1.6 },\n    { mount_name: 'з підйомом без баласту',       price_per_kw_small: 21.0, price_per_kw_large: 18.0, markup: 1.6 },\n    { mount_name: 'наземка',                      price_per_kw_small: 17.0, price_per_kw_large: 15.0, markup: 1.6 },\n    { mount_name: 'наземка схід-захід',           price_per_kw_small: 17.0, price_per_kw_large: 15.0, markup: 1.6 }\n  ],\n  materials_ac: [\n    { mount_name: 'блочки',                       price_per_kw_small: 14.0, price_per_kw_large: 12.0, markup: 1.6 },\n    { mount_name: 'сітка',                        price_per_kw_small: 14.0, price_per_kw_large: 12.0, markup: 1.6 },\n    { mount_name: 'баластна сітка',               price_per_kw_small: 14.0, price_per_kw_large: 12.0, markup: 1.6 },\n    { mount_name: 'баластна сітка з противагою',  price_per_kw_small: 14.0, price_per_kw_large: 12.0, markup: 1.6 },\n    { mount_name: 'гвинт-шуруп',                 price_per_kw_small: 14.0, price_per_kw_large: 12.0, markup: 1.6 },\n    { mount_name: 'схід-захід',                   price_per_kw_small: 15.0, price_per_kw_large: 13.0, markup: 1.6 },\n    { mount_name: 'схід-захід (без баласту) деш.',price_per_kw_small: 14.5, price_per_kw_large: 12.5, markup: 1.6 },\n    { mount_name: 'схід-захід (без баласту) дор.',price_per_kw_small: 14.5, price_per_kw_large: 12.5, markup: 1.6 },\n    { mount_name: 'з підйомом',                   price_per_kw_small: 15.5, price_per_kw_large: 13.5, markup: 1.6 },\n    { mount_name: 'з підйомом без баласту',       price_per_kw_small: 15.5, price_per_kw_large: 13.5, markup: 1.6 },\n    { mount_name: 'наземка',                      price_per_kw_small: 13.0, price_per_kw_large: 11.0, markup: 1.6 },\n    { mount_name: 'наземка схід-захід',           price_per_kw_small: 13.0, price_per_kw_large: 11.0, markup: 1.6 }\n  ],\n  extra_materials_usd: 0,\n  montage: [\n    { label: '50-80 кВт',        price_per_kw_usd: 22.0, markup: 1.5 },\n    { label: '80-100 кВт',       price_per_kw_usd: 20.0, markup: 1.5 },\n    { label: '100-250 кВт',      price_per_kw_usd: 18.0, markup: 1.5 },\n    { label: '250-500 кВт',      price_per_kw_usd: 16.0, markup: 1.5 },\n    { label: '500-1000 кВт',     price_per_kw_usd: 14.0, markup: 1.5 },\n    { label: '1000 та більше',   price_per_kw_usd: 12.0, markup: 1.5 }\n  ],\n  tech: [\n    { label: 'дах 50-100 кВт',      price_usd: 850,  qty_type: 'fixed',  markup: 1.5 },\n    { label: 'дах 80-150 кВт',      price_usd: 900,  qty_type: 'fixed',  markup: 1.5 },\n    { label: 'дах 150-300 кВт',     price_usd: 1100, qty_type: 'fixed',  markup: 1.5 },\n    { label: 'дах 300-500 кВт',     price_usd: 1500, qty_type: 'fixed',  markup: 1.5 },\n    { label: 'дах 500-1000 кВт',    price_usd: 2200, qty_type: 'fixed',  markup: 1.5 },\n    { label: 'дах 1000-1500 кВт',   price_usd: 3000, qty_type: 'fixed',  markup: 1.5 },\n    { label: 'дах 1500-2000 кВт',   price_usd: 3800, qty_type: 'fixed',  markup: 1.5 },\n    { label: 'дах більше 2000 кВт', price_usd: 4500, qty_type: 'fixed',  markup: 1.5 },\n    { label: 'наземка за кВт',      price_usd: 5.5,  qty_type: 'per_kw', markup: 1.5 }\n  ],\n  delivery: [\n    { label: '50-100 кВт',     price_usd: 550,  markup: 1.5 },\n    { label: '100-250 кВт',    price_usd: 800,  markup: 1.5 },\n    { label: '250-500 кВт',    price_usd: 1200, markup: 1.5 },\n    { label: '500-1000 кВт',   price_usd: 1800, markup: 1.5 },\n    { label: '1000 та більше', price_usd: 2500, markup: 1.5 }\n  ],\n  monitoring: [\n    { name: 'Huawei Smart Dongle', price_usd: 135, markup: 1.15 }\n  ],\n  power_regulation: [\n    { name: 'Лічильник + Трансформатори струму (3шт)', price_usd: 380, markup: 1.2 }\n  ],\n  rates: { eur_uah: 43.5, usd_uah: 41.2 },\n  markup_limits: {\n    mounting:  [1.0, 7.1875],\n    materials: [1.0, 6.75],\n    montage:   [1.0, 3.0188],\n    tech:      [1.0, 3.0188],\n    delivery:  [1.0, 3.0188]\n  }\n};\n\nconst catalog = data.catalog || DEFAULT_CATALOG;\nreturn [{ json: { catalog } }];"
      }
    },
    {
      "id": "cat_c03",
      "name": "Respond GET Catalog",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6940,
        -600
      ],
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      }
    },
    {
      "id": "cat_c04",
      "name": "Webhook POST Catalog",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6500,
        -300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ses-catalog",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "cat_c05",
      "name": "Code: Save Catalog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        -300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst catalog = input.body?.catalog || input.catalog;\nif (!catalog) return [{ json: { ok: false, error: 'no catalog' } }];\n\nconst data = $getWorkflowStaticData('global');\ndata.catalog = catalog;\nreturn [{ json: { ok: true } }];"
      }
    },
    {
      "id": "cat_c06",
      "name": "Respond POST Catalog",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6940,
        -300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "dat_d01",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6500,
        -200
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "kp-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "dat_d02",
      "name": "Code: Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6740,
        -200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const store = $getWorkflowStaticData('global');\nreturn [{ json: {\n  ses_catalog: store.ses_catalog || null,\n  uze_catalog: store.uze_catalog || null,\n  settings:    store.settings    || {},\n  managers:    store.managers    || []\n} }];"
      }
    },
    {
      "id": "dat_d03",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6980,
        -200
      ],
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      }
    },
    {
      "id": "dat_d04",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6500,
        100
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "kp-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "dat_d05",
      "name": "Code: Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6740,
        100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body  = $input.first().json.body ?? $input.first().json;\nconst store = $getWorkflowStaticData('global');\n\nif (body.ses_catalog !== undefined) store.ses_catalog = body.ses_catalog;\nif (body.uze_catalog !== undefined) store.uze_catalog = body.uze_catalog;\nif (body.settings    !== undefined) store.settings    = body.settings;\nif (body.managers    !== undefined) store.managers    = body.managers;\n\nreturn [{ json: { ok: true } }];"
      }
    },
    {
      "id": "dat_d06",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6980,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "mgr_m01",
      "name": "Webhook GET Managers",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6500,
        200
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "ses-managers",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "mgr_m02",
      "name": "Read Managers Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        6720,
        200
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1IgaI0_eE0xY7ljfNh138CA-aYIiFzGJpmu9s2hLV04g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Менеджери",
          "mode": "name"
        },
        "options": {
          "firstRowIsColumnNames": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "mgr_m03",
      "name": "Code: Format Managers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6940,
        200
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst managers = items\n  .filter(item => item.json.name)\n  .map(item => ({\n    name: item.json.name || '',\n    phone: item.json.phone || '',\n    email: item.json.email || '',\n    telegram: (item.json.telegram || '').replace(/^@/, ''),\n    active: String(item.json.active).toUpperCase() === 'TRUE'\n  }));\nreturn [{ json: { managers } }];"
      }
    },
    {
      "id": "mgr_m04",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7160,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      }
    },
    {
      "id": "mgr_m05",
      "name": "Webhook POST Managers",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6500,
        500
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ses-managers",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "mgr_m06",
      "name": "Code: Prepare Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        500
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst managers = input.body?.managers || input.managers || [];\n\nconst values = managers.map(m => [\n  m.name || '',\n  m.phone || '',\n  m.email || '',\n  (m.telegram || '').replace(/^@/, ''),\n  m.active ? 'TRUE' : 'FALSE'\n]);\n\nconst SHEET_ID = '1IgaI0_eE0xY7ljfNh138CA-aYIiFzGJpmu9s2hLV04g';\nconst SHEET_ENC = encodeURIComponent('Менеджери');\n\nconst clearUrl = `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${SHEET_ENC}!A2:E200:clear`;\nconst writeUrl = `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${SHEET_ENC}!A2:E?valueInputOption=RAW`;\nconst writeBody = JSON.stringify({\n  range: 'Менеджери!A2:E',\n  majorDimension: 'ROWS',\n  values: values.length ? values : [['', '', '', '', '']]\n});\n\nreturn [{ json: { managers, clearUrl, writeUrl, writeBody } }];"
      }
    },
    {
      "id": "mgr_m07",
      "name": "HTTP: Clear Range",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6940,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.clearUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "string",
        "body": "{}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "mgr_m08",
      "name": "HTTP: Write Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7160,
        500
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Code: Prepare Rows').first().json.writeUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $('Code: Prepare Rows').first().json.writeBody }}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "mgr_m09",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7380,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "stg_s01",
      "name": "Webhook GET Settings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6500,
        600
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "ses-settings",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "stg_s02",
      "name": "Read Settings Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        6720,
        600
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1IgaI0_eE0xY7ljfNh138CA-aYIiFzGJpmu9s2hLV04g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Налаштування",
          "mode": "name"
        },
        "options": {
          "firstRowIsColumnNames": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "stg_s03",
      "name": "Code: Format Settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6940,
        600
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst settings = {};\nitems.forEach(item => {\n  const key = item.json.key || '';\n  const val = item.json.value || '';\n  if (key) settings[key.trim()] = String(val).trim();\n});\nreturn [{ json: { settings } }];"
      }
    },
    {
      "id": "stg_s04",
      "name": "Respond GET Settings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7160,
        600
      ],
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      }
    },
    {
      "id": "stg_s05",
      "name": "Webhook POST Settings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6500,
        900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ses-settings",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "stg_s06",
      "name": "Code: Prepare Settings Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        900
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst settings = input.body?.settings || input.settings || {};\nconst rows = Object.entries(settings).map(([k, v]) => [k, String(v)]);\nwhile (rows.length < 200) rows.push(['', '']);\nreturn [{ json: { values: rows } }];"
      }
    },
    {
      "id": "stg_s08",
      "name": "HTTP: Write Settings Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6960,
        900
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1IgaI0_eE0xY7ljfNh138CA-aYIiFzGJpmu9s2hLV04g/values/A2:B201?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { majorDimension: 'ROWS', values: $json.values } }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "stg_s09",
      "name": "Respond POST Settings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7200,
        900
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook KP": {
      "main": [
        [
          {
            "node": "IF: SES чи UZE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: SES чи UZE": {
      "main": [
        [
          {
            "node": "UZE: Підготовка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SES: Calculate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Calculate": {
      "main": [
        [
          {
            "node": "SES: Charts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Charts": {
      "main": [
        [
          {
            "node": "SES: IF Зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: IF Зображення": {
      "main": [
        [
          {
            "node": "SES: Підготовка зображень",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SES: Після зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Підготовка зображень": {
      "main": [
        [
          {
            "node": "SES: IF Custom Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: IF Custom Image": {
      "main": [
        [
          {
            "node": "SES: Upload Custom Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SES: IF Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Upload Custom Image": {
      "main": [
        [
          {
            "node": "SES: Відкрити доступ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Відкрити доступ": {
      "main": [
        [
          {
            "node": "SES: IF Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: IF Logo": {
      "main": [
        [
          {
            "node": "SES: Logo Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SES: Після зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Logo Binary": {
      "main": [
        [
          {
            "node": "SES: Upload Client Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Upload Client Logo": {
      "main": [
        [
          {
            "node": "SES: Logo Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Logo Access": {
      "main": [
        [
          {
            "node": "SES: Після зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Після зображення": {
      "main": [
        [
          {
            "node": "SES: Копіювати шаблон",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Копіювати шаблон": {
      "main": [
        [
          {
            "node": "SES: Отримати Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Отримати Doc": {
      "main": [
        [
          {
            "node": "SES: Видалити Вкладку 1 Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Видалити Вкладку 1 Code": {
      "main": [
        [
          {
            "node": "SES: Видалити Вкладку 1 HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Видалити Вкладку 1 HTTP": {
      "main": [
        [
          {
            "node": "SES: Підготовка Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Підготовка Docs": {
      "main": [
        [
          {
            "node": "SES: Docs batchUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Docs batchUpdate": {
      "main": [
        [
          {
            "node": "SES: Отримати Doc після замін",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Отримати Doc після замін": {
      "main": [
        [
          {
            "node": "SES: Знайти порожні рядки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Знайти порожні рядки": {
      "main": [
        [
          {
            "node": "SES: Видалити порожні рядки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Видалити порожні рядки": {
      "main": [
        [
          {
            "node": "SES: Отримати Doc для зображень",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Отримати Doc для зображень": {
      "main": [
        [
          {
            "node": "SES: Підготовка зображень Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Підготовка зображень Docs": {
      "main": [
        [
          {
            "node": "SES: Вставити зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Вставити зображення": {
      "main": [
        [
          {
            "node": "SES: Експорт PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: Експорт PDF": {
      "main": [
        [
          {
            "node": "SES: IF Видалити сторінки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Підготовка": {
      "main": [
        [
          {
            "node": "UZE: Копіювати шаблон",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Копіювати шаблон": {
      "main": [
        [
          {
            "node": "UZE: Отримати Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Отримати Doc": {
      "main": [
        [
          {
            "node": "UZE: Видалити Вкладку 1 Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Видалити Вкладку 1 Code": {
      "main": [
        [
          {
            "node": "UZE: Видалити Вкладку 1 HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Видалити Вкладку 1 HTTP": {
      "main": [
        [
          {
            "node": "UZE: Підготовка Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Підготовка Docs": {
      "main": [
        [
          {
            "node": "UZE: Docs batchUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Docs batchUpdate": {
      "main": [
        [
          {
            "node": "UZE: Отримати Doc після замін",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Отримати Doc після замін": {
      "main": [
        [
          {
            "node": "UZE: Знайти порожні рядки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Знайти порожні рядки": {
      "main": [
        [
          {
            "node": "UZE: Видалити порожні рядки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Видалити порожні рядки": {
      "main": [
        [
          {
            "node": "UZE: Експорт PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UZE: Експорт PDF": {
      "main": [
        [
          {
            "node": "UZE: Надіслати PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "UZE: Зберегти PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: IF Видалити сторінки": {
      "main": [
        [
          {
            "node": "SES: pdfco Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SES: Надіслати PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "SES: Зберегти PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: pdfco Upload": {
      "main": [
        [
          {
            "node": "SES: pdfco Сторінки Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: pdfco Сторінки Code": {
      "main": [
        [
          {
            "node": "SES: pdfco Delete HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: pdfco Delete HTTP": {
      "main": [
        [
          {
            "node": "SES: pdfco Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SES: pdfco Download": {
      "main": [
        [
          {
            "node": "SES: Надіслати PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "SES: Зберегти PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET Catalog": {
      "main": [
        [
          {
            "node": "Code: Read Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Read Catalog": {
      "main": [
        [
          {
            "node": "Respond GET Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST Catalog": {
      "main": [
        [
          {
            "node": "Code: Save Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Save Catalog": {
      "main": [
        [
          {
            "node": "Respond POST Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Code: Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Read": {
      "main": [
        [
          {
            "node": "Respond GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Code: Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Write": {
      "main": [
        [
          {
            "node": "Respond POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET Managers": {
      "main": [
        [
          {
            "node": "Read Managers Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Managers Sheet": {
      "main": [
        [
          {
            "node": "Code: Format Managers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Managers": {
      "main": [
        [
          {
            "node": "Respond GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST Managers": {
      "main": [
        [
          {
            "node": "Code: Prepare Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Rows": {
      "main": [
        [
          {
            "node": "HTTP: Clear Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Clear Range": {
      "main": [
        [
          {
            "node": "HTTP: Write Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Write Rows": {
      "main": [
        [
          {
            "node": "Respond POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET Settings": {
      "main": [
        [
          {
            "node": "Read Settings Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Settings Sheet": {
      "main": [
        [
          {
            "node": "Code: Format Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Settings": {
      "main": [
        [
          {
            "node": "Respond GET Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST Settings": {
      "main": [
        [
          {
            "node": "Code: Prepare Settings Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Settings Rows": {
      "main": [
        [
          {
            "node": "HTTP: Write Settings Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Write Settings Rows": {
      "main": [
        [
          {
            "node": "Respond POST Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1d2e3f4-a5b6-7890-cdef-123456789abc",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "d4e5f6a7-b8c9-0123-def0-456789abcdef",
  "pinData": {}
}