n8n/workflow_data.json
{
  "name": "KP — Сховище даних (GET + POST)",
  "nodes": [

    {
      "id": "d01",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "kp-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },

    {
      "id": "d02",
      "name": "Code: Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const store = $getWorkflowStaticData('global');\nreturn [{ json: {\n  ses_catalog: store.ses_catalog || null,\n  uze_catalog: store.uze_catalog || null,\n  settings:    store.settings    || {},\n  managers:    store.managers    || []\n} }];"
      }
    },

    {
      "id": "d03",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      }
    },

    {
      "id": "d04",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600],
      "parameters": {
        "httpMethod": "POST",
        "path": "kp-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },

    {
      "id": "d05",
      "name": "Code: Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 600],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body  = $input.first().json.body ?? $input.first().json;\nconst store = $getWorkflowStaticData('global');\n\nif (body.ses_catalog !== undefined) store.ses_catalog = body.ses_catalog;\nif (body.uze_catalog !== undefined) store.uze_catalog = body.uze_catalog;\nif (body.settings    !== undefined) store.settings    = body.settings;\nif (body.managers    !== undefined) store.managers    = body.managers;\n\nreturn [{ json: { ok: true } }];"
      }
    },

    {
      "id": "d06",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 600],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      }
    }

  ],

  "connections": {
    "Webhook GET":  { "main": [[{ "node": "Code: Read",  "type": "main", "index": 0 }]] },
    "Code: Read":   { "main": [[{ "node": "Respond GET", "type": "main", "index": 0 }]] },
    "Webhook POST": { "main": [[{ "node": "Code: Write", "type": "main", "index": 0 }]] },
    "Code: Write":  { "main": [[{ "node": "Respond POST","type": "main", "index": 0 }]] }
  },

  "settings": { "executionOrder": "v1" }
}
